<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.canopas.yourspace</key>
		<string>e864f70f-7e63-4782-b4c9-68dc95692d1a</string>
	</dict>
	<key>signingCertificate</key>
	<string>EC6D008B1B33BDFDF4B61D6FCC24E214A75C4B0E</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>S985H2T7J8</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
